---
layout: default
title: 404
icon: frown
permalink: /404.html
sitemap: false
active_key: error
---

<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <h1 class="ui error header">404</h1>
        <h2>嗯哼~你访问的页面出错喽！(>_<)</h2>
        <a class="ui basic button loading-trigger" href="{{ '/' | relative_url }}"><i class="arrow left icon"></i>回到首页</a>
        <a class="ui basic button loading-trigger" href="{{ 'https://blog.anyi.life' | relative_url }}"><i class="arrow right icon"></i>前往博客</a>
    </div>
</div>
