---
layout: default
title: 正在探索
icon: search
sitemap: false
active_key: search
---

<div class="ui vertical stripe segment">
        <div class="ui center aligned text container">
            <h1 class="ui search header">anyi.life</h1>
            <h2 id="next-url" class="ui header">探索未知的征程从未止步</h2>
        <a class="ui basic button loading-trigger" href="{{ '/' | relative_url }}"><i class="arrow left icon"></i>回到首页</a>
        <a class="ui basic button loading-trigger" href="{{ 'https://blog.anyi.life' | relative_url }}"><i class="arrow right icon"></i>前往博客</a> 
        </div>
    </div>
</div>
