<div class="ui text container">
    {%- if site.data.message.show -%}
        {%- if site.data.message.hitokoto -%}
            <a id="hitokoto" class="ui {{ site.data.message.color }} pointing below label"><i class="quote left icon"></i></a>
        {%- else -%}
            {%- if site.data.message.link -%}
                <a class="ui {{ site.data.message.color }} pointing below {% unless site.data.message.icon %}{% if site.data.message.image %}image {% endif %}{% endunless %}label" href="{{ site.data.message.link }}" target="_blank">{% if site.data.message.icon %}<i class="{{ site.data.message.icon }} icon"></i>{% elsif site.data.message.image %}<img src="{{ site.data.message.image }}" alt="Message Image">{% endif %}{{ site.data.message.content }}{% if site.data.message.detail %}<div class="detail">{{ site.data.message.detail }}</div>{% endif %}</a>
            {%- else -%}
                <div class="ui {{ site.data.message.color }} pointing below {% unless site.data.message.icon %}{% if site.data.message.image %}image {% endif %}{% endunless %}label">{% if site.data.message.icon %}<i class="{{ site.data.message.icon }} icon"></i>{% elsif site.data.message.image %}<img src="{{ site.data.message.image }}" alt="Message Image">{% endif %}{{ site.data.message.content }}{% if site.data.message.detail %}<div class="detail">{{ site.data.message.detail }}</div>{% endif %}</div>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    <h1 class="ui inverted logo header">
        <img class="ui centered image" src="{{ site.logo_white }}" alt="Logo">
    </h1>
    <h2 class="ui inverted header">{{ site.title }}</h2>
    <div class="ui inverted fluid left icon right action input" id="search-div">
        <i class="search icon"></i>
        <input id="search-query" type="text" placeholder="立即探索" autofocus="autofocus">
        <select id="search-services" class="ui compact selection dropdown">
            {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" data-suffix="{% if item.suffix %}{{ item.suffix }}{% endif %}">{{ item.name }}</option>{% endfor %}
        </select>
        <div id="search-button" class="ui floral white icon button">Go</div>
    </div>
    <div class="ui labels shortcuts">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.style }} label" data-search-service-id="{{ item.id }}">{% if item.icon %}<i class="{{ item.icon }} icon"></i>{% endif %}{{ item.shortcut }}</a>{% endif %}{% endfor %}
    </div>
    <div class="badges">
        
        <a id="github-star" href="{{ site.repository_url }}/stargazers" target="_blank"><img src="https://img.shields.io/github/stars/{{ site.repository }}.svg?style=social&label=Star" alt="GitHub Stargazers"></a>
        <a id="github-fork" href="{{ site.repository_url }}/network/members" target="_blank"><img src="https://img.shields.io/github/forks/{{ site.repository }}.svg?style=social&label=Fork" alt="GitHub Forks"></a>
        <a id="version" href="{{ site.repository_url }}/commits" target="_blank"><img src="https://img.shields.io/badge/%E6%9B%B4%E6%96%B0%E4%BA%8E-loading-orange.svg" alt="Update Time"></a>
        <a id="today-visitors" class="loading-trigger" href="{{ '/analytics/' | relative_url }}"><img src="https://img.shields.io/badge/%E4%BB%8A%E6%97%A5%E8%AE%BF%E5%AE%A2-loading-orange.svg" alt="Today Visitors"></a>
        <a id="live-visitors" class="loading-trigger" href="{{ '/analytics/' | relative_url }}"><img src="https://img.shields.io/badge/%E5%BD%93%E5%89%8D%E5%9C%A8%E7%BA%BF-loading-orange.svg" alt="Live Visitors"></a>
    </div>
    <div class="ui inverted link list">
        <a class="item loading-trigger" href="{{ 'https://blog.anyi.life/' | relative_url }}">安逸博客·探索世界的未知之处</a>
    </div>
</div>
