---
layout: default
title: 捐赠
icon: qrcode
active_key: donate
---

<div class="ui vertical stripe segment">
    <div class="ui center aligned container">
        <h3 class="ui header">如若你愿向本站伸出援助之手，安逸在此致谢！</h3>
        <p>如若使用Paypal赞赏,请点击此链接</span><a href="https://www.paypal.me/30711" target = "_blank">Anyi</a></p>
    </div>
</div>         
<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <div class="ui blue centered card">
                    <div class="content">
                        <div class="header"><span class="text-blue">支付宝</span>扫一扫</div>
                    </div>
                    <div class="qrcode image">
                        <img src="https://anyi.life/images/z-zhifu.png"
                    </div>
                    <div class="extra content">
                        <div class="description">感谢你.向本站伸出援助之手~</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui green centered card">
                    <div class="content">
                        <div class="header"><span class="text-green">微信</span>扫一扫</div>
                    </div>
                    <div class="qrcode image">
                        <img src="https://anyi.life/images/z-weixin.png"       
                    </div>
                    <div class="extra content">
                        <div class="description">感谢你.向本站伸出援助之手~</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui center aligned container">
        <h3 class="ui header">赞美前行亦或反馈问题</h3>
        <div class="ui large buttons">
            <a class="ui positive left labeled icon button" href="https://saythanks.io/to/anyi98" target="_blank"><i class="thumbs up icon"></i>Say Thanks</a>
            <div class="or" data-text="或"></div>
            <a class="ui negative right labeled icon button" href="{{ site.repository_url }}/issues/new" target="_blank"><i class="bug icon"></i>Report Bug</a>
        </div>
    </div>
</div>
